[Desktop Entry]
Version=1.0
Type=Application
Name=PYShell
Comment=Launch PYShell
Keywords=shell;prompt;command;commandline;cmd;
Exec=pyshell
SingleMainWindow=false
Icon=/usr/share/applications/pyshell.png
Terminal=true
Actions=new-window;
StartupWMClass=PYShell
Categories=Programming;Development;System;TerminalEmulator;
